<?xml version="1.0"?>
<robot name="testz"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_footprint"/>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://warehousebot_simulation/meshes/bot_chassis.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0"/>
      </material>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision name="base_collision">
      <geometry>
        <mesh filename="package://warehousebot_simulation/meshes/bot_chassis.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>

    <inertial>
      <mass value="550"/>
      <origin rpy="0 0 0" xyz="0 0 0 "/>
      <inertia ixx="220" ixy="0" ixz="0" iyy="220" iyz="0" izz="220"/>
    </inertial>
  </link>

  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.05"/>
  </joint>`

  


</robot>